{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
<div class="container page_container_user_view">
    <div class="row">
        <div class="col-4 user_info_user_view">
            <img src="/images/{{ user.profilepic }}" alt="Photo de profile de @{{ user.username }}" class="img-thumbnail profile_pic_user_view">
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>

            <p><span class="badge badge-info">{{ user.school.name }}</span> @{{ user.username }}</p>

            <p class="user_bio_user_view">{{ user.bio }}</p>
        </div>
        <div class="col-8">
            <h1>Fil d'actualité</h1>
            {% for message in messages %}
                <div class="container messages_blocks_user_view">
                    <p>{{ message.content }}</p>
                    <a href="">Répondre</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
