<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Twitter2</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Twitter2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if not is_granted('ROLE_USER') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('user',{'username': app.user.username}) }}">Mon Compte <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registration') }}">Inscription</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Administration</a>
            </li>
            {% endif %}
        </ul>


        <form action="/search" method="post" class="form-inline my-2 my-lg-0">
            <input type="text" name="motEntree" class="form-control mr-sm-2" placeholder="Rechercher un membre">
            <button type="submit" name="form" value="Rechercher" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>


    </div>
</nav>
{% block body %}
{% endblock %}

{% block javascripts %}{% endblock %}
</body></html>
