{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container" style="border: 1px solid red">
    <div class="row">
        <div class="col-4 user_info_user_view" style="border: 1px solid white; padding: 10px;">
            <img src="images/{{ user.profilePic }}" alt="Photo de profile de {{ user.userName }}" class="img-thumbnail profile_pic_userview">
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>
            <p><span class="badge badge-info">{{ user.school.name }}</span> @{{ user.username }}</p>
            <p class="user_bio_user_view">{{ user.bio }}</p>
        </div>
        <div class="col-8" style="border: 1px solid white;">
            world
        </div>
    </div>
</div>
  <!-- Example row of columns -->

    <!--
    <div class="page_count">
    <div class="bio">
        <div class="row">
            <div class="col-md-4">
                <img src="images/{{ user.profilePic }}" alt="" class="img-thumbnail">
                <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            </div>
        </div>
    </div>
        <div class="messages" style="border: 1px solid red;">
            test
        </div>
        <div class="friend">
            <div class="row">
                <div class="col-md-4">
                    <h2>Suggestion</h2>
                    <p>Pblito escobar</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Add new Friends</a></p>
                </div>
            </div>
        </div>
        -->
{% endblock %}
