{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container page_container_user_view">

    <div class="row">

        <div class="col-4 user_info_user_view">
            <img src="/images/{{ user.profilePic }}" alt="Photo de profile de {{ user.userName }}" class="img-thumbnail profile_pic_user_view">
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>

            <p><span class="badge badge-info">{{ user.school.name }}</span> @{{ user.username }}</p>

            <p class="user_bio_user_view">{{ user.bio }}</p>

            {% if is_granted('ROLE_USER') and current_user.id != user.id %}
                {% if not subscribed %}
                    <a class="btn btn-primary" href="{{ path('subscribe', { 'id': user.id }) }}" role="button">S'abonner</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('unsubscribe', { 'id': user.id }) }}" role="button">Se désabonner</a>
                {% endif %}
            {% endif %}
            <p class="subscribers_info_user_view">{{ nb_subscriptions }} abonnement(s) • {{ nb_subscribers }} abonné(s)</p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('give-role-admin', { 'userId': user.id }) }}">Donner un accès modérateur</a>
            {% endif %}

            {% if is_granted('ROLE_MOD') %}
                <a href="{{ path('delete-profile', { 'userId': user.id }) }}">Bannir l'utilisateur</a>
            {% endif %}
        </div>
        <div class="col-8">
            <h1>Profil</h1>
            <p></p>
            {% for message in messages %}
                {% if message.retweet is null %}
                    <div class="container messages_blocks_user_view">
                        <p>{{ message.content }}</p>
                        <a href="{{ path('answer', { 'messageId': message.id }) }}">Répondre</a>
                        {% if app.user != null and app.user.id != user.id %}
                            • <a href="{{ path('retweet', { 'messageId': message.id }) }}">Retweet</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="container messages_blocks_user_view">
                        <div class="row row_tweet_feed_view">
                            <div class="col-2 image_tweet_zone">
                                <img src="/images/{{ message.retweet.author.profilepic }}" alt="" class="img-thumbnail-tweet" />
                            </div>
                            <div class="col-9">
                                <p><a href="/user/{{ message.retweet.author.username }}" class="tweet_username_feed_view">{{ message.retweet.author.firstname }} {{ message.retweet.author.lastname }}</a></p>
                                <p>{{ message.retweet.content }}</p>
                            </div>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="tweet_action_buttons">
                                <a href="{{ path('answer', { 'messageId': message.retweet.id }) }}">Répondre</a> • <a href="{{ path('retweet', { 'messageId': message.retweet.id }) }}">Retweeter</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}
