{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container page_container_user_view">

    <div class="row">

        <div class="col-4 user_info_user_view" style="padding: 10px;">
            <img src="images/{{ user.profilePic }}" alt="Photo de profile de {{ user.userName }}" class="img-thumbnail profile_pic_userview">
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>

            <p><span class="badge badge-info">{{ user.school.name }}</span> @{{ user.username }}</p>

            <p class="user_bio_user_view">{{ user.bio }}</p>

            {% if is_granted('ROLE_USER') and current_user.id != user.id %}
                {% if not subscribed %}
                    <a class="btn btn-primary" href="{{ path('subscribe', { 'id': user.id }) }}" role="button">S'abonner</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('unsubscribe', { 'id': user.id }) }}" role="button">Se désabonner</a>
                {% endif %}
            {% endif %}
            <p class="subscribers_info_user_view">{{ nb_subscriptions }} abonnement(s) • {{ nb_subscribers }} abonné(s)</p>
        </div>
        <div class="col-8 display_messages_user_view">
            {% for message in messages %}
                <div class="container messages_blocks_user_view">
                    <p>{{ message.content }}</p>
                    <a href="">Répondre</a>
                </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}
